{% extends "template.html" %}

{% block main %}

<div class="question-answer">
    <div class="question">
        <h1>{{ question }}</h1>
    </div>
    <button
        onclick="bringElBack()">Show
        answer</button>
    <p class=" bringback answer">{{ answer }}</p>
    <form action="/" method="get">
        <button class="bringback">Return</button>
    </form>
</div>

<script>
    function bringElBack() {
        let allEls = document.getElementsByClassName('bringback');
        for (let i = 0; i < allEls.length; i++) {
            allEls[i].style.opacity=1;
        }
    }
</script>

{% endblock %}